h3{
    margin: 100px;
    padding: 50px;
    border:20px sollid orange;
    outline: 10px solid springgreen;
    border-radius: 100px;
    border-top-left-radius: 50px;
}
h5{
    margin: 100px;
    padding: 50px;
    border:20px sollid orange;
    outline: 10px solid springgreen;
    margin-left: 400px;
    padding-left: 100px;
    border-top:  5px solid salmon;
    border-left: 10px soid chartreuse;
    border-right: 5px solid blueviolet ;
    border-bottom:10px silid red ;
   
}
h6{
   margin: 20px;
   padding: 20px;
   border: 20px;
   outline:20px;

}
img{
    border-top: 300px solid orange;
    border-bottom: 300px solid green;
    padding-right: 400px;
    padding-left: 400px;
}