img{
    border-top:150px solid orangered;
    border-bottom:150px solid green;
    padding-right: 500px;
    padding-left: 500px;
}
h1{
margin-top: 20px solid blue;
margin-bottom: 20px solid blue;
margin-right: 20px solid blue;
margin-left: 20px solid blue;
border-bottom: 20px solid green;
border-top:20px solid green;
border-left: 20px solid green;
border-right: 20px solid green;
outline: 20px;

}