#has{
    display: flex;
    background-color: purple;
    color: aliceblue;
}
#h{
    height: 200px;
    width: 400px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    
}
#hh{
    height: 200px;
    width: 400px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;


}
#have{
    display: flex;
    background-color: rgb(173, 36, 36);
    color: aliceblue;
}
#had{
    display: flex;
    background-color: rgb(13, 110, 13);
    color: aliceblue;
}

#hhh{
    height: 200px;
    width: 400px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;

}
#g{
    
}